@import "style.css";
/* common */
*::selection{background-color:rgba(82,195,241,0.5);}
.clearfix::after{content:"";display:block;clear: both;}
body{width:100%;height:100%;overflow-x: hidden;}
.inner-01{width:calc(100% - 80px);margin: 0 auto;}
.inner-02{max-width: 1400px;margin: 0 auto;padding:150px 0 100px;}
.title{margin:0 0 80px;}
.title h2{font-size: 48px;text-align: center;font-weight: 600;}
.title p.sub{font-size: 18px;text-align: center;margin-top:25px;line-height: 1.4;}
.title p.sub br{display: none;}
.btnWrap{text-align: center;font-size: 0;}
.btn{display: inline-block;padding:25px 77px;border-radius: 10px;font-size: 22px;border:none;cursor: pointer;position: relative;overflow: hidden;line-height: 1;}
.btn.orange{background: #FF4900;}
.btn.orange span{position: relative;z-index: 2;}
.btn.orange::after{content:'';display: block;width:0;height: 100%;background: #eb3800;position: absolute;top:0;left:0;transition: width 0.5s ease-in-out;}
.btn.orange:hover::after{width:100%;}
.btn.skyblue{background: #38B8EF;}
.btn.btnSend{width:100%;border-radius: 0;padding:17px 0 15px;font-size: 14px;font-weight: 600;letter-spacing: 4px;}
.btn.btnSend em{margin-left: 0;transition: margin 0.3s ease;}
.btn.btnSend:hover em{margin-left: -10px;}
.btn.btnSend span{vertical-align: middle;font-size: 18px;position: absolute;opacity: 0;margin-left: -5px;transition: opacity 0.3s ease, margin 0.3s ease;}
.btn.btnSend:hover span{opacity: 1;margin-left: 0;}
/* header */
#header{width:100%;position: fixed;top:0;left:0;z-index: 999;padding:40px 0 0;background: linear-gradient(rgba(0,0,0,1), 15%, transparent);transition: padding 0.3s ease;}
#header .inner-01{display: flex;flex-wrap: wrap;justify-content: space-between;align-items: center;}
#header .logo{width:65px;}
#header .logo a{display: block;width:55px;height:42px;background: url("../images/logo.png") no-repeat 0 0;background-size: cover;text-indent: -9999px;transition: background 0.3s ease;}
#header .gnb .gnb-ul{display: flex;flex-wrap: wrap;}
#header .gnb .gnb-ul li{margin: 0 20px;}
#header .gnb .gnb-ul li a{font-size: 22px;font-weight: 600;}
#header .btn-wrap{display: flex;flex-wrap: wrap;align-items: center;}
#header .inquiry{font-size: 18px;display: block;margin: 3px 30px 0 0;letter-spacing: 1.5px;}
/*가운데서 좌우로 펼쳐지는 라인 에니메이션*/
.spread-underline {text-decoration: none;display: inline-block;padding: 5px 0;position: relative;}
.spread-underline:after {background: none repeat scroll 0 0 transparent;bottom: 0;content: "";display: block;height: 2px;left: 50%;position: absolute;background: #fff;transition: width 0.3s ease 0s, left 0.3s ease 0s;width: 0;}
.spread-underline:hover:after {width: 100%;left: 0;}
/*가운데서 좌우로 펼쳐지는 라인 에니메이션:끝*/
#header #allMenuBtn{width:50px;height:50px;background: none;border:none;position: relative;cursor: pointer;}
#header #allMenuBtn .btn-line{display: block;width:40px;height:2px;background: #fff;position: absolute;top:12px;left:50%;margin-left: -20px;transition: top 0.3s ease, transform 0.3s ease}
#header #allMenuBtn span:nth-child(2).btn-line{top:24px;}
#header #allMenuBtn .btn-line.short{width:25px;height:2px;background: #fff;top:36px;transition: top 0.3s ease, transform 0.3s ease, margin 0.3s ease;}
#header #allMenuBtn:hover .btn-line, #header #allMenuBtn:hover .btn-line.short{top:24px;}
#header #allMenuBtn.close .btn-line{transform: rotate(45deg);top:24px;}
#header #allMenuBtn.close  span:nth-child(2).btn-line{transform: rotate(-45deg);}
#header #allMenuBtn.close .btn-line.short{top:19.5px;margin-left: -17px;}
.btnFloor .btnMain{display: inline-block;width:60px;height:60px;font-size: 0;padding:0;border:none;background: none;text-align: center;cursor: pointer;position: fixed;right:40px;bottom:40px;z-index: 997;}
.btnFloor a.btnMain{bottom:110px;}
.btnFloor .btnMain img{margin: -10px 0 0 -15px;}
/* header on */
#header.on{/*background: rgba(14,23,43,0.5);*/background: linear-gradient(rgba(14,23,43,0.55), 80%, transparent);padding:20px 0;/*border-bottom: 1px solid #576583;*/}
#allMenu{width:100%;height:100%;position: fixed;z-index: 998;background: rgba(0,0,0,0.85);display: none;}
#allMenu .inner-01{height:100%;position: relative;}
#allMenu .inner-02{height:100%;}
#allMenu .siteMapWrap{height:100%;display: flex;align-items: center;}
#allMenu .siteMapWrap .siteMap li{height:85px;font-size: 80px;margin-bottom: 30px;overflow: hidden;}
#allMenu .siteMapWrap .siteMap li:last-child{margin-bottom: 0;}
#allMenu .siteMapWrap .siteMap li a:hover{color:#52C3F1;}
#allMenu .siteMapWrap .siteMap li a:hover .water-fill{animation: wave 0.7s infinite linear, fill-up 5s ease-out alternate;animation-fill-mode: backwards;}
#allMenu .siteMapWrap .siteMap li a:hover #water path{fill:#52C3F1;}
@keyframes wave {
  0% { x: -200px; }
  100% { x: 0; }
}


@keyframes fill-up {
  0% {
    height: 0;
    y: 50px;
  }
  100% {
    height: 100px;
    y: -50px;
  }
}
#allMenu .company-info{position: absolute;bottom:40px;right:0;text-align: right;}
#allMenu .company-info .contactBtn{font-size: 0;display: inline-block;}
#allMenu .company-info .info{margin:35px 0 17vh;font-size: 22px;line-height: 1.8;}
#allMenu .company-info .copy{font-size: 18px;}
@keyframes wave {
  0% { x: -400px; }
  100% { x: 0; }
}
@keyframes fill-up {
  0% {
    height: 0;
    y: 130px;
  }
  100% {
    height: 160px;
    y: -30px;
  }
}
/* footer */
#footer{background: #000;}
#footer .inner-02{padding:180px 0 175px;display: flex;flex-wrap: wrap;justify-content: space-around;}
#footer h6{font-size:24px;text-align: center;}
#footer .profile .company-dw-btn{display: block;text-align: center;margin-top: 40px;}
#footer .profile .company-dw-btn p{margin-top: 30px;font-size: 18px;}
#footer .info .txt{font-size: 18px;line-height: 1.4;}
#footer .info .txt .address{margin-top:35px;}
#footer .info .txt .address span{font-weight: 500;}
#footer .contact .number{font-size: 36px;color:#38B8EF;margin: 25px 0 15px;font-weight: 500;}
#footer .contact p{line-height: 1.4;}
#footer .copyright{background: #0E172B;text-align: center;padding:40px 0 38px;}
