/* main */
/* section1 */
.section1 .inner-01{position: relative;}
#portfolioSlider .swiper-slide{font-size: 0;}
#portfolioSlider .swiper-slide img{width:100%;}
.section1 .portfolioTxt{position: absolute;left: 0;bottom:240px;z-index: 10;}
.section1 .portfolioTxt li h2{font-size: 48px;line-height: 1.3;}
.section1 .portfolioTxt li.on h2 .slide-effect{overflow: hidden;}
.section1 .portfolioTxt li.on h2 .slide-effect .slide-effect-txt{animation: txtSlide .3s ease-in-out;}
@keyframes txtSlide {
	0%{transform: translate(0, 100%);}
	100%{transform: translate(0, 0);}
}
.section1 .portfolioTxt li .sub{font-size: 24px;margin-top:25px;}
.section1 .portfolioTxt li.on .sub .slide-effect{overflow: hidden;}
.section1 .portfolioTxt li.on .sub .slide-effect .slide-effect-txt{animation: txtSlide .3s ease-in-out;}
.section1 .swiper-button-prev{width:60px;height:60px;top:auto;bottom:100px;left:0;}
.section1 .swiper-button-prev::after{content:'';display: block;width:60px;height:60px;background: url('../images/main/btn_prev.png') no-repeat 0 0;}
.section1 .swiper-button-next{width:60px;height:60px;top:auto;bottom:100px;right:auto;left:68px;}
.section1 .swiper-button-next::after{content:'';display: block;width:60px;height:60px;background: url('../images/main/btn_next.png') no-repeat 0 0;}
/* section2 */
.workWrap{margin-bottom: 30px;display: flex;flex-wrap: wrap;justify-content: space-between;}
.workWrap li{width:calc(33.3333% - 33.3333px);overflow: hidden;margin-bottom: 50px;position: relative;opacity: 0;top:-20px;}
/* .workWrap li.on{opacity: 1;top:0;} */
.workWrap li a{display: block;}
.workWrap li .infoTxt{background: rgba(56, 184, 239,0.95);position: absolute;top:0;left:0;z-index: 10;width:100%;height:100%;text-align: center;display: flex;align-items: center;justify-content: center;opacity: 0;transition: opacity 0.3s ease;}
.workWrap li a:hover .infoTxt{opacity: 1;}
.workWrap .infoTxt .verticalCenter{padding:0 40px;}
.workWrap .infoTxt h4{font-size:22px;font-weight: 600;line-height: 1.3;}
.workWrap .infoTxt .dev_lang{font-size:15px;font-weight: 200;margin-top:10px;}
.workWrap .infoTxt .disc{font-size:18px;font-weight: 200;margin:50px 0 20px;line-height: 1.7;}
.workWrap .infoTxt span{font-size: 30px;}
.workWrap li img {display: block; min-width:100%; max-width: 100%;transition: transform 0.4s ease;}
.workWrap li a:hover img{transform: scale(1.1);}
/* section3 */
.partnerBox .partnerUl{display: flex;flex-wrap: wrap;justify-content: space-between;}
.partnerBox .partnerUl li img{opacity: 0.5;}
.section3 .loop-wrap{width: 100%;overflow: hidden;margin: 80px 0;transform: translate3d(0px, 0px, 0px);display: none;}
.section3 .loop-wrap .loop-box{width:6600px;display: flex;flex-wrap: nowrap;animation-name: bannerLoop;animation-duration: 50s;animation-timing-function: linear;animation-iteration-count: infinite;}
.section3 .loop-wrap .loop-box .ioop-items{width:220px;flex:0 0 220px;margin:0 20px;text-align: center;}
.section3 .loop-wrap .loop-box .ioop-items img{opacity: 0.5;}
@-webkit-keyframes bannerLoop{
  0%{
    -webkit-transform:translate(0,0);
    -ms-transform:translate(0,0);
    transform:translate(0,0);
    }
  100%{
    -webkit-transform:translate(-50%,0);
    -ms-transform:translate(-50%,0);
    transform:translate(-50%,0);
  }
}
@keyframes bannerLoop{
  0%{
    -webkit-transform:translate(0,0);
    -ms-transform:translate(0,0);
    transform:translate(0,0);
  }
  100%{
    -webkit-transform:translate(-50%,0);
    -ms-transform:translate(-50%,0);
    transform:translate(-50%,0);
  }
}
/* section4 */
.section4{background: url('../images/main/main_bg_contact.png') no-repeat 50% 0;background-size: cover;}
.section4 .inner-02{display: flex;flex-wrap: wrap;justify-content: space-between;}
.section4 .title{width:calc(50% - 17.5px);}
.section4 .title h2{text-align: left;line-height: 1.3;}
.section4 .title p.disc{font-size: 24px;margin-top:50px;line-height: 1.5;position: relative;margin-bottom: 120px;}
.section4 .title .disc::after{content:'';display: block;width:60px;height:1px;background: #fff;position: absolute;bottom:-60px;}
.section4 .title .address_info{font-size: 24px;line-height: 1.5;}
.contactBox{width:calc(50% - 17.5px);}
.contactBox h5{font-size:16px;font-weight: 600;margin-bottom: 20px;}
.contactBox .essentialUl{display: flex;flex-wrap: wrap;justify-content: space-between;}
.contactBox .essentialUl li{width:calc(50% - 7px);}
.contactBox .essentialUl li:nth-child(n+3){margin-top:14px;}
.contactBox .essentialUl li input{display: block;width: 100%;border:none;font-size: 14px;background: rgba(247,247,247,0.6);box-sizing: border-box;color:#fff;padding:17px 30px 16px;font-weight: 600;}
.contactBox .essentialUl li input::placeholder{color:#fff;}
.contactBox .essentialUl li select{display: block;width: 100%;border: none;font-size: 14px;background: rgba(247,247,247,0.6);-webkit-appearance: none;cursor: pointer;box-sizing: border-box;color:#fff;padding:17px 30px 16px;font-weight: 600;}
.contactBox .essentialUl li select option{background: #0E172B;}
.contactBox .choice{margin-top:50px;}
.contactBox .choiceUl{display: flex;flex-wrap: wrap;justify-content: space-between;}
.contactBox .choiceUl li{width:calc(50% - 7px);}
.contactBox .choiceUl li:nth-child(3){width:100%;font-size: 0;margin-top: 14px;}
.contactBox .choiceUl li:nth-child(4){width:100%;margin-top: 14px;}
.contactBox .choiceUl li input{display: block;width: 100%;border:none;font-size: 14px;background: rgba(247,247,247,0.6);box-sizing: border-box;color:#fff;padding:17px 30px 16px;font-weight: 600;}
.contactBox .choiceUl li input::placeholder{color:#fff;}
.contactBox .choiceUl li textarea{width:100%;resize: none;box-sizing: border-box;border:none;background: rgba(247,247,247,0.6);; color:#fff;padding:15px 30px;font-size: 14px;font-weight: 600;}
.contactBox .choiceUl li textarea::placeholder{color:#fff;}
.file-box input[type="file"] { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip:rect(0,0,0,0); border: 0; }
.file-box label { display: block; width:100%; padding: 15px 16px 15px 36px; font-size: inherit; font-family: inherit; line-height: normal; vertical-align: middle;background: rgba(247,247,247,0.6); font-size: 14px; color:#fff; border: none; position: relative; cursor: pointer;font-weight: 600;}
.file-box label::before{content:'+';padding-right: 7px;}
