@media screen and (max-width:1600px) {
  /* common */
  .inner-02{width:calc(100% - 200px);}
  /* main */
  .section1 .portfolioTxt{bottom:180px;}
  .section1 .swiper-button-prev{bottom:60px;}
  .section1 .swiper-button-next{bottom:60px;}
}
@media screen and (max-width:1400px) {
  /* main */
  .section1 .portfolioTxt{bottom:150px;}
  .section1 .portfolioTxt li h2{font-size: 40px;}
  .section1 .portfolioTxt li .sub{font-size: 20px;}
  .section1 .swiper-button-prev{bottom:50px;}
  .section1 .swiper-button-next{bottom:50px;}
  .workWrap .infoTxt h4{font-size: 18px;}
  .workWrap .infoTxt .dev_lang{font-size: 14px;}
  .workWrap .infoTxt .disc{font-size: 14px;margin: 25px 0 10px;}
  .workWrap .infoTxt span{font-size: 25px;}
  .partnerBox .partnerUl li{width:25%;}
  .partnerBox .partnerUl li img{width:85%;}
  /* company */
  .organization{padding: 11vw 0 11vw;}
  .organizationUl > li h6{font-size: 25px;margin-bottom: 20px;}
  .organizationUl > li > ul > li{font-size: 18px;margin-bottom: 15px;}
}
@media screen and (max-width:1200px) {
  /* common */
  .inner-02{width:calc(100% - 120px);}
  #header .gnb .gnb-ul li a{font-size: 18px;}
  #header .inquiry{font-size: 16px;}
  #allMenu .siteMapWrap .siteMap li{font-size: 60px;}
  #allMenu .company-info .info{font-size: 18px;}
  /* main */
  .section1 .portfolioTxt{bottom:130px;}
  .section1 .portfolioTxt li h2{font-size: 35px;}
  .section1 .portfolioTxt li .sub{font-size: 18px;}
  .section1 .swiper-button-prev{bottom:40px;}
  .section1 .swiper-button-next{bottom:40px;}
  .workWrap{margin-bottom: 50px;}
  .workWrap li{width: calc(33.3333% - 20px);margin-bottom: 30px;}
  .section4 .title{width:100%;}
  .contactBox{width:100%;}
  .contactBox .essentialUl li select{background:url('../images/main/ic_select.png') no-repeat 95% 50%;}
  /* company */
  .organizationUl{margin-right: 60px;}
  .organizationUl > li h6{font-size: 20px;}
  .organizationUl > li > ul > li{font-size: 16px;}
}
@media screen and (max-width:1000px){
  /* common */
  .inner-02{width:calc(100% - 80px);padding: 120px 0 80px;}
  .title p.sub br{display: block;}
  #header .gnb .gnb-ul li{margin: 0 10px;}
  #header .inquiry{margin: 3px 20px 0 0;}
  #allMenu .company-info .info{font-size: 16px;margin: 25px 0 10vw;}
  #allMenu .company-info .copy{font-size: 16px;}
  #footer .profile{display: none;}
  /* main */
  .workWrap li{width: calc(50% - 15px);}
  .workWrap li:nth-child(n+5){display: none;}
  .workWrap .infoTxt h4{font-size: 28px;}
  .workWrap .infoTxt .dev_lang{font-size: 18px;}
  .workWrap .infoTxt .disc{font-size: 18px;}
  .workWrap .infoTxt .disc br{display: block;}
  .workWrap .infoTxt span{font-size: 40px;}
  /* company */
  .organization{padding: 10vw 0 10vw;}
  .organizationUl{margin-right: 50px;}
  .organizationUl > li h6{margin-bottom: 15px;font-size: 18px;}
  .organizationUl > li > ul > li{margin-bottom: 10px;font-size: 15px;}
  /* business */
  .content.business .title h2{word-break: keep-all;}
  .content.business .title h2 br{display: none;}
  .businessUl > li{padding: 0 40px 40px 0;font-size: 15px;}
  .businessUl > li h6{margin-bottom: 25px;}
  .businessUl > li:nth-child(n+4){padding: 40px 40px 0 0;}
  .businessUl > li:nth-child(3n+2){padding-left: 40px;padding-right: 40px;}
  .businessUl > li:nth-child(3n+3){padding-left: 40px;padding-right: 0;}
  .businessUl > li > ul > li{margin-bottom: 15px;}
}
@media screen and (max-width:768px) {
  /* common */
  .title{margin: 0 0 70px;}
  .title h2{font-size: 38px;}
  .title p.sub{font-size: 16px;}
  .btn{font-size: 18px;padding:25px 70px;}
  #header .gnb{display: none;}
  #header #allMenuBtn:hover .btn-line{top:12px;}
  #header #allMenuBtn:hover .btn-line.short{top:36px;}
  #header #allMenuBtn.close:hover .btn-line{top:24px;}
  #header #allMenuBtn.close:hover .btn-line.short{top:19.5px;}
  #allMenu .inner-01{display: flex;flex-wrap: wrap;justify-content: flex-end;padding:0 0 40px;}
  #allMenu .inner-02{height:auto;width:100%;padding: 180px 0 0;}
  #allMenu .siteMapWrap{display: block;height:auto;}
  #allMenu .siteMapWrap .siteMap li{font-size: 55px;margin-bottom: 30px;}
  #allMenu .company-info{position: relative;bottom:0;align-self: flex-end;}
  #allMenu .company-info .info{margin: 20px 0 60px;}
  #footer .inner-02{display: none;}
  #footer .copyright{background: #000;}
  /* main */
  #portfolioSlider{display: none;}
  #portfolioSlider2{display: block;}
  .section1 .portfolioTxt{width:100%;bottom:210px;}
  .section1 .portfolioTxt li h2{text-align: center;font-size: min(6vw, 46px);}
  .section1 .portfolioTxt li .sub{text-align: center;font-size: min(3vw, 28px);}
  .section1 .portfolioTxt li .sub br{display: block;}
  .workWrap li{width: 100%;}
  .workWrap li:nth-child(n+3){display: none;}
  .section3 .partnerBox{display: none;}
  .section3 .inner-02{padding-bottom:0;}
  .section3 .loop-wrap{display: block;}
  .section4 .title p.disc{font-size: 18px;}
  /* company */
  .companyWrap .companyInfo .infoTr li:first-child{width:160px;}
  .companyWrap .companyInfo .infoTr li:last-child{width:calc(100% - 160px);}
  .content.company .title h2 br{display: block;}
  .organization{padding: 30vw 0 30vw;background: url("../images/content/company_bi.png") no-repeat 50% 50%;background-size: contain;}
  .organizationUl{display: none;}
  /* business */
  .content.business .inner-02{padding: 220px 0 100px;}
  .businessUl > li{width: 50%;}
  .businessUl > li:nth-child(3n){border-right: 1px solid rgba(112,112,112,0.4);}
  .businessUl > li:nth-child(2n){border-right: none;}
  .businessUl > li:nth-child(n+4){padding: 40px 0 0 40px;}
  .businessUl > li:nth-child(3n+3){padding-top: 40px;padding-left: 0;padding-right: 40px;}
  .businessUl > li:nth-child(3n+4){padding-bottom: 40px;border-bottom: 1px solid rgba(112,112,112,0.4);}
  .businessUl > li:nth-child(2n){padding-left:40px;padding-right: 0;}
}
@media screen and (max-width:600px){
  /* main */
  .section1 .portfolioTxt{bottom:140px;}
  .section1 .portfolioTxt li .sub{margin-top: 15px;}
  /* business */
  .content.business .inner-02{padding: 180px 0 100px;}
  .businessUl > li{padding:0 25px 25px 0;}
  .businessUl > li:nth-child(n+4){padding: 25px 0 0 25px;}
  .businessUl > li:nth-child(3n+3){padding-top: 25px;padding-left: 0;padding-right: 25px;}
  .businessUl > li:nth-child(3n+4){padding-bottom: 25px;}
  .businessUl > li:nth-child(2n){padding-left:25px;padding-right: 0;}
}
@media screen and (max-width:500px){
  /* common */
  .inner-02{padding: 100px 0 60px;}
  .title h2{font-size: 32px;}
  .title p.sub br{display: none;}
  #allMenu .siteMapWrap .siteMap li{font-size: 45px;}
  /* main */
  .section1 .portfolioTxt{bottom:120px;}
  .section4 .title .inquiry-num{justify-content: space-between;}
  .section4 .title .inquiry-num li:last-child{margin-left: 0;}
  /* company */
  .companyWrap .companyInfo .infoTr li:first-child{width:130px;}
  .companyWrap .companyInfo .infoTr li:last-child{width:calc(100% - 130px);}
}
@media screen and (max-width:450px){
  /* common */
  .inner-01{width:calc(100% - 50px);}
  .inner-02{width:calc(100% - 50px)}
  #allMenu .siteMapWrap .siteMap li{font-size: min(10vw, 45px);margin-bottom:min(7vw, 20px);}
  #allMenu .company-info .info{font-size: 14px;}
  #allMenu .company-info .copy{font-size: 14px;}
  .btnFloor .btnMain{width:50px;height:50px;right:25px;bottom:25px;}
  .btnFloor .btnMain img{width:75px;margin: -8px 0 0 -12px;}
  .btnFloor a.btnMain{bottom:85px;}
  /* main */
  .section4 .title .inquiry-num li span{font-size: 18px;}
  .section4 .title .inquiry-num li h3{font-size: 45px;}
  .contactBox h5{font-size: 14px;}
  .contactBox .essentialUl li input{padding: 11px 15px 10px;}
  .contactBox .essentialUl li select{padding:12px 15px 11px;}
  .contactBox .choiceUl li textarea{padding: 11px 15px;}
  .contactBox .file-box label{padding:11px 15px 10px;}
  /* business */
  .businessUl > li{width:100%;border-right: none;padding:30px 0 30px;}
  .businessUl > li:first-child{padding-top:0;}
  .businessUl > li:nth-child(2n){padding-left: 0;}
  .businessUl > li:nth-child(n+4){border-bottom: 1px solid rgba(112,112,112,0.4);padding: 30px 0 30px;}
  .businessUl > li:nth-child(3n+3){border-right: none;padding: 30px 0 30px;}
}
@media screen and (max-width:400px){
  /* common */
  .inner-02{padding: 70px 0 50px;}
  .title{margin: 0 0 50px;}
  .title h2{font-size: 28px;}
  .title p.sub{font-size: 14px;margin-top:20px;}
  #header{padding: 30px 0 0;}
  #header.on{padding: 15px 0;}
  #header #allMenuBtn{width:40px;height:40px;}
  #header #allMenuBtn .btn-line{width:30px;top:10px;}
  #header #allMenuBtn span:nth-child(2).btn-line{top:20px;}
  #header #allMenuBtn .btn-line.short{width:20px;top:30px;}
  #header #allMenuBtn.close .btn-line{top:20px;}
  #header #allMenuBtn.close .btn-line.short{top:18px;}
  #header #allMenuBtn:hover .btn-line{top:10px;}
  #header #allMenuBtn:hover .btn-line.short{top:30px;}
  #header #allMenuBtn.close:hover .btn-line{top:20px;}
  #header #allMenuBtn.close:hover .btn-line.short{top:18px;}
  /* main */
  .section4 .title p.disc{font-size: 16px;margin: 30px 0 120px;}
  .section4 .title .disc::after{bottom:-70px;}
  .section4 .title .inquiry-num li span{font-size: 16px;}
  .section4 .title .inquiry-num li h3{font-size: 40px;}
  /* company */
  .companyWrap .companyInfo .infoTr li:first-child{width:100px;}
  .companyWrap .companyInfo .infoTr li:last-child{width:calc(100% - 100px);}
}
@media screen and (max-width:380px){
  /* common */
  #allMenu .company-info .info .mbr{display: block;}
  /* main */
  .contactBox h5{line-height: 1.3;}
  .contactBox h5 br{display: block;}
}
@media screen and (max-width:350px){
  /* common */
  .title h2{font-size: 24px;}
  .section4 .title p.disc{font-size: 14px;}
  .btn{width:100%;padding:25px;font-size: 16px;}
  /* main */
  .section4 .title .inquiry-num li h3{font-size: 30px;}
  /* company */
  .companyWrap .companyInfo .infoTr{margin-bottom: 15px;}
  .companyWrap .companyInfo .infoTr li{font-size: 14px;}
}
