@media screen and (max-width:1600px) {
  /* common */
  .inner-02{width:calc(100% - 200px);}
  /* main */
  .section1 .portfolioTxt{bottom:180px;}
  .section1 .swiper-button-prev{bottom:60px;}
  .section1 .swiper-button-next{bottom:60px;}
}
@media screen and (max-width:1400px) {
  /* main */
  .section1 .portfolioTxt{bottom:150px;}
  .section1 .portfolioTxt li h2{font-size: 40px;}
  .section1 .portfolioTxt li .sub{font-size: 20px;}
  .section1 .swiper-button-prev{bottom:50px;}
  .section1 .swiper-button-next{bottom:50px;}
  .workWrap .infoTxt h4{font-size: 18px;}
  .workWrap .infoTxt .dev_lang{font-size: 14px;}
  .workWrap .infoTxt .disc{font-size: 14px;margin: 25px 0 10px;}
  .workWrap .infoTxt span{font-size: 25px;}
  .partnerBox .partnerUl li{width:25%;}
  .partnerBox .partnerUl li img{width:85%;}
}
@media screen and (max-width:1200px) {
  /* common */
  .inner-02{width:calc(100% - 120px);}
  #header .gnb .gnb-ul li a{font-size: 18px;}
  #header .inquiry{font-size: 16px;}
  #allMenu .siteMapWrap .siteMap li{font-size: 60px;}
  #allMenu .company-info .info{font-size: 18px;}
  /* main */
  #portfolioSlider .swiper-slide img{width:115%;}
  .section1 .portfolioTxt{bottom:130px;}
  .section1 .portfolioTxt li h2{font-size: 35px;}
  .section1 .portfolioTxt li .sub{font-size: 18px;}
  .section1 .swiper-button-prev{bottom:40px;}
  .section1 .swiper-button-next{bottom:40px;}
  .workWrap{margin-bottom: 50px;}
  .workWrap li{width: calc(33.3333% - 20px);margin-bottom: 30px;}
  .section4 .title{width:100%;}
  .contactBox{width:100%;}
  .contactBox .essentialUl li select{background:url('../images/main/ic_select.png') no-repeat 95% 50% rgba(247,247,247,0.6);}
}
@media screen and (max-width:1000px){
  /* common */
  .inner-02{width:calc(100% - 80px);padding: 120px 0 80px;}
  .title p.sub br{display: block;}
  #header .gnb .gnb-ul li{margin: 0 10px;}
  #header .inquiry{margin: 3px 20px 0 0;}
  #allMenu .company-info .info{font-size: 16px;margin: 25px 0 10vw;}
  #allMenu .company-info .copy{font-size: 16px;}
  #footer .profile{display: none;}
  /* main */
  .workWrap li{width: calc(50% - 15px);}
  .workWrap li:nth-child(n+5){display: none;}
  .workWrap .infoTxt h4{font-size: 28px;}
  .workWrap .infoTxt .dev_lang{font-size: 18px;}
  .workWrap .infoTxt .disc{font-size: 18px;}
  .workWrap .infoTxt .disc br{display: block;}
  .workWrap .infoTxt span{font-size: 40px;}
}
@media screen and (max-width:768px) {
  /* common */
  .title{margin: 0 0 70px;}
  .title h2{font-size: 38px;}
  .title p.sub{font-size: 16px;}
  #header .gnb{display: none;}
  #header #allMenuBtn:hover .btn-line{top:12px;}
  #header #allMenuBtn:hover .btn-line.short{top:36px;}
  #header #allMenuBtn.close:hover .btn-line{top:24px;}
  #header #allMenuBtn.close:hover .btn-line.short{top:19.5px;}
  #allMenu .inner-01{display: flex;flex-wrap: wrap;justify-content: flex-end;padding:0 0 40px;}
  #allMenu .inner-02{height:auto;width:100%;padding: 180px 0 0;}
  #allMenu .siteMapWrap{display: block;height:auto;}
  #allMenu .siteMapWrap .siteMap li{font-size: 55px;margin-bottom: 30px;}
  #allMenu .company-info{position: relative;bottom:0;align-self: flex-end;}
  #allMenu .company-info .info{margin: 20px 0 60px;}
  #footer .inner-02{display: none;}
  #footer .copyright{background: #000;}
  /* main */
  #portfolioSlider{display: none;}
  #portfolioSlider2{display: block;}
  .section1 .portfolioTxt{width:100%;bottom:210px;}
  .section1 .portfolioTxt li h2{text-align: center;font-size: min(6vw, 46px);}
  .section1 .portfolioTxt li .sub{text-align: center;font-size: min(3vw, 28px);}
  .section1 .portfolioTxt li .sub br{display: block;}
  .workWrap li{width: 100%;}
  .workWrap li:nth-child(n+3){display: none;}
  .section3 .partnerBox{display: none;}
  .section3 .inner-02{padding-bottom:0;}
  .section3 .loop-wrap{display: block;}
  .section4 .title p.disc{font-size: 18px;}
  .contactBox .essentialUl li select{background:url('../images/main/ic_select.png') no-repeat 95% 50%;}
}
@media screen and (max-width:600px){
  /* main */
  .section1 .portfolioTxt{bottom:140px;}
  .section1 .portfolioTxt li .sub{margin-top: 15px;}
}
@media screen and (max-width:500px){
  /* common */
  .inner-02{padding: 100px 0 60px;}
  .title h2{font-size: 32px;}
  .title p.sub br{display: none;}
  #allMenu .siteMapWrap .siteMap li{font-size: 45px;}
  /* main */
  .section1 .portfolioTxt{bottom:120px;}
  .section4 .title .inquiry-num{justify-content: space-between;}
  .section4 .title .inquiry-num li:last-child{margin-left: 0;}
}
@media screen and (max-width:450px){
  /* common */
  .inner-01{width:calc(100% - 50px);}
  #allMenu .siteMapWrap .siteMap li{font-size: min(10vw, 45px);margin-bottom:min(7vw, 20px);}
  #allMenu .company-info .info{font-size: 14px;}
  #allMenu .company-info .copy{font-size: 14px;}
}
@media screen and (max-width:400px){
  /* common */
  .title{margin: 0 0 50px;}
  .title h2{font-size: 28px;}
  .title p.sub{font-size: 14px;margin-top:20px;}
  /* main */
  .section4 .title p.disc{font-size: 16px;margin: 30px 0 120px;}
  .section4 .title .disc::after{bottom:-70px;}
}
@media screen and (max-width:380px){
  /* common */
  #header{padding: 30px 0 0;}
  #header.on{padding: 15px 0;}
  #header #allMenuBtn{width:40px;height:40px;}
  #header #allMenuBtn .btn-line{width:30px;top:10px;}
  #header #allMenuBtn span:nth-child(2).btn-line{top:20px;}
  #header #allMenuBtn .btn-line.short{width:20px;top:30px;}
  #header #allMenuBtn.close .btn-line{top:20px;}
  #header #allMenuBtn.close .btn-line.short{top:18px;}
  #header #allMenuBtn:hover .btn-line{top:10px;}
  #header #allMenuBtn:hover .btn-line.short{top:30px;}
  #header #allMenuBtn.close:hover .btn-line{top:20px;}
  #header #allMenuBtn.close:hover .btn-line.short{top:18px;}
  #allMenu .company-info .info .mbr{display: block;}
}
